; Configure and maintain via Godot Editor.
; Keep iOS export set to landscape only.

[preset.0]

name="iOS"
platform="iOS"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../build/ios/teacherspet.xcodeproj"
encryption_include_filters=""
encryption_exclude_filters=""
seed=0
encrypt_pck=false
encrypt_directory=false
script_export_mode=2

[preset.0.options]

application/app_store_team_id="2ZBRNRSJC4"
application/bundle_identifier="com.j8d.teacherspet"
application/name="TeachersPet"
application/short_version="1.0"
application/version="1.0"
application/min_ios_version="14.0"
application/targeted_device_family=2
application/export_method_debug=0
application/export_method_release=0
icons/app_store_1024x1024="res://icon.png"
capabilities/access_wifi=false
capabilities/push_notifications=false
user_data/accessible_from_files_app=false
user_data/accessible_from_itunes_sharing=false
storyboard/use_launch_screen_storyboard=true
storyboard/image_scale_mode=0
